default: &default
  adapter: postgresql
  pool: <%= ENV["DATABASE_POOL"] || 64 %>
  timeout: 5000
  encoding: utf-8
  host: 192.168.10.54
  user: postgres
  username: postgres
  password: 88888888
  port: 5433

development:
  <<: *default
  database: ddns

test:
  <<: *default
  database: ddns_test

production:
  <<: *default
  database: ddns
